html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #000000;
  overflow: hidden;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Neon";
  src: url("/Neoneon.otf") format("woff2"), url("/Neoneon.otf") format("woff"),
    url("/Neoneon.otf") format("opentype");
  font-display: swap;
}
